@using ProcgEnemies.Models;
@model Enemy

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Procedural Enemy Ideas</h1>
    </div>
</div>

<div class="row">
        <div class="btn btn-default col-sm-2 col-sm-offset-5">
            @Html.ActionLink("Spin Again", "Index")
        </div>
</div>

<hr />

<div class="row">
    <div class="col-md-3 well">
        <h2>Movement</h2>
        <h3>@Model.Movement.Name</h3>
        <p>
            @Model.Movement.Description
        </p>
        <h4>Examples</h4>
        <p>
            @Model.Movement.Examples
        </p>
    </div>
    <div class="col-md-3 well">
        <h2>Passive</h2>
        <h3>@Model.Passive.Name</h3>
        <p>
            @Model.Passive.Description
        </p>
        <h4>Examples</h4>
        <p>
            @Model.Passive.Examples
        </p>
    </div>
    <div class="col-md-3 well">
        <h2>Ability</h2>
        <h3>@Model.Ability.Name</h3>
        <p>
            @Model.Ability.Description
        </p>
        <h4>Examples</h4>
        <p>
            @Model.Ability.Examples
        </p>
    </div>
    <div class="col-md-3 well">
        <h2>Trigger</h2>
        <h3>@Model.Trigger.Name</h3>
        <p>
            @Model.Trigger.Description
        </p>
        <h4>Examples</h4>
        <p>
            @Model.Trigger.Examples
        </p>
    </div>
</div>